*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
   overflow-x: hidden;
}



.front{
    height: 100%;
    width: 100%;
    background-color: rgb(104, 16, 16);
}


.font{
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    height: 50px;
    width: 100%;
    position:fixed;
    background-color: rgb(104, 16, 16);
    font-family: sans-serif;
}


.font2{
    display: flex;
    gap: 50px;
    font-weight: normal;
}

/* 
.font2 h5:hover{
    background-color: rgb(237, 146, 10);
    border-radius: 25px;
    width: 60px;
} */


.font2 i{
    font-size: 22px;
    display: none;
}

.font1 h3{
    font-size: 25px;
}


.fontt{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 150px;
    font-family: sans-serif;
    color: #fff;
    /* height: calc(100% - (-10px)); */
    /* height: 80%; */
    width: 100%;
}


.fontt1{
    height: 300px;
    width: 500px;
    /* background-color: blueviolet; */
}




.fontt2 h2{
    color: rgb(237, 146, 10);
    padding-top: 80px;
    font-size: 30px;
}


.fontt2 h3{
    font-size: 30px;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 20px;
}


.one{
    padding: 12px;
    margin-top: 40px;
    color: rgb(104, 16, 16);
    background-color:rgb(237, 146, 10);
    border-radius: 20px;
    font-weight: bold;
    border: #fff;
}



.two{
    padding: 10px;
    margin-top: 40px;
    background-color: transparent;
    color:#fff;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid #fff;
}


.about{
    height: 80%;
    width: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: sans-serif;
    justify-content:space-around;
    align-items: center;
}



.about1 h2{
    padding-top: 50px;
    font-size:30px;
    padding-bottom: 30px;
}


.about1 p{
    /* padding-top: 10px; */
    line-height: 20px;
}

.about1 img{
      width: 500px;
}


.about1 video{
    width: 400px;
    height: 700px;
}


.services{
    height: 150%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.851);
    color: #fff;
    font-family: sans-serif;
    text-align: center;
   
}


.services h1{
    padding-bottom: 20px;
    padding-top: 30px;
}


.services1{
    float: left;
    height: 350px;
    width: 350px;
    margin-left: 50px;
    margin-top: 40px;
    /* background-color: brown; */
}


.services1 img{
    height: 250px;
    width: 350px;
}


.gallery{
    height: 135%;
    width: 100%;
}


.gallery1{
    height: 300px;
    width: 350px;
    /* background-color: blueviolet; */
    float: left;
    margin-left: 50px;
    margin-top: 40px;

}


.gallery h1{
    padding: 40px;
    text-align: center;
    font-family: sans-serif;
}



.gallery1 img{
    height: 300px;
    width: 350px;
    object-fit: cover;
    border-radius: 20px;
    object-position: center;
}


.gallery1 img:hover{
    scale: 1.2;
} 


.contact{
    height: 100%;
    width: 100%;
}


.contact h1{
    text-align: center;
    font-family: sans-serif;
    padding: 40px;
}


.contact1{
    height: 450px;
    width: 750px;
    background-color: rgb(215, 226, 239);
    margin-left: 240px;
    text-align: left;
    color: black;
}

.contact1 p{
    padding-top: 25px;
    text-align: left;
    margin-left: 10px;
}

.contact1 input{
    width: 90%;
    padding: 5px;
    margin-left: 10px;
    border: 1px solid black;
}



.contact1 textarea{
    margin-left: 10px;
    width: 90%;
}


.contact1 button{
    padding: 12px;
    font-size: 15px;
    margin-left: 10px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(68, 3, 3);
    border-radius: 25px;
    width: 100px;
}


.last{
    height: 50%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.851);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #fff;
}

.lastt{
    padding-top: 100px;
}




@media (max-width:550px){
    .front{
        background-color: rgb(104, 16, 16);
        height: 100%;
    }

    .font{
        width: 100%;
    }

    .font2 h5{
        display: none;
    }

    .font2 i{
        display: block;
    }

    .fontt{
        display: flex;
        flex-direction:column-reverse;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 50px;
    }
     

    .fontt img{
        width: 400px;
        height: 300px;
        margin-left: 80px;
    }

    .fontt2 h2{
         padding: 0px;  
    }


    .about{
        
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
     
    .about1 h2{
        padding-top: 0%;
       font-size:30px;
    }


    .about1 p{
       line-height: 20px;
    }


    .services{
        height: 335%;
        width: 100%;
    }
        
    .services1{
        margin-left: 80px;
    }
    

    .gallery{
        height: 300%;
        width: 100%;
        background-color: antiquewhite;
    }

    .gallery1{
        margin-top: 6%;
        margin-left: 80px;
    }


    .contact1{
        width: 450px;
        margin-left: 40px;
    }

    .contact{
        height: 100%;
    }


    .last{
        height: 40%;
        width: 100%;
        display: flex;
        gap: 21px;
    }

}






@media (max-width:450px){
    .front{
        background-color: rgb(104, 16, 16);
        height: 80%;
    }

    .font{
        width: 100%;
    }

    .font2 h5{
        display: none;
    }

    .font2 i{
        display: block;
    }

    .fontt{
        display: flex;
        flex-direction:column-reverse;
        text-align: center;
        padding: 0px;
        padding-top: 50px;
    }
     

    .fontt img{
        width: 400px;
        height: 300px;
        margin-left: 80px;
    }

    .fontt2 h2{
         padding: 0px;  
    }


    .about{
        
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
     
    .about1 h2{
       font-size:30px;
    }


    .about1 p{
       line-height: 20px;
    }


    .services{
        height: 280%;
        width: 100%;
    }

    .services1{
        margin-left: 20px;
    }


    .gallery{
        height: 240%;
        width: 100%;
    }

    .gallery1{
        margin-left: 35px;
    }


    .contact1{
        width: 300px;
        margin-left: 60px;
    }

    .contact{
        height: 80%;
    }


    .last{
        height: 30%;
        width: 100%;
        display: flex;
        gap: 20px;
    }

}



@media (max-width:400px){
    .front{
        background-color: rgb(104, 16, 16);
        height: 100%;
    }

    .font{
        width: 100%;
    }

    .font2 h5{
        display: none;
    }

    .font2 i{
        display: block;
    }

    .fontt{
        display: flex;
        flex-direction:column-reverse;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 50px;
    }
     

    .fontt img{
        width: 400px;
        height: 300px;
        margin-left: 10px;
    }

    .fontt2 h2{
         padding: 0px;  
    }


    .about{
        
        height: 120%;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
     
    .about1 h2{
       font-size:30px;
    }


    .about1 p{
       line-height: 20px;
    }


    .services{
        height: 380%;
        width: 100%;
    }
        
    .services1{
        margin-left: 10px;
    }
    

    .gallery{
        height: 340%;
        width: 100%;
    }

    .gallery1{
        margin-left: 10px;
    }


    .contact1{
        width: 350px;
        margin-left: 10px;
    }

    .contact{
        height: 100%;
    }


    .last{
        height: 40%;
        width: 100%;
        display: flex;
        gap: 20px;
    }

}

